.msgEnviada {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
}

/* .texto {
  align-self: flex-start;
  margin-left: auto;
  border-radius: 1rem 1rem 0 1rem;
  background-color: white;
  max-width: 80%;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  padding: 1rem;
  font-size: 1.6rem;
  width: max-content;
} */
/* .data {
  align-self: flex-end;
  display: block;
  font-weight: bold;
  margin-top: 0.25rem;
  font-size: 1rem;
} */
