.msgsTeste {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: scroll;
  padding: 2rem;
  background-color: coral;
  height: 100%;
}

.conversa {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin-left: 30rem;
  height: calc(100vh - 6rem);
}
.formMensagem {
  display: flex;
  padding: 2rem 2rem;
  bottom: 0;
  width: 100%;
  background-color: pink;
  height: 10rem;
  display: flex;
  gap: 1rem;
}

.campoMensagem {
  width: 80%;
  font-size: 1.6rem;
  padding: 1.5rem;
}

.botao {
  background-color: green;
  width: 20%;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
